{% extends 'base.html.twig' %}

{% block title %}Edit Sujets{% endblock %}

{% block body %}
    <h1>Edit Sujets</h1>
    <div><h2>Voulez vous modifier quelque chose ?</h2>
   <label for="Titre">Titre</label>
        <input type="Titre" name="titre" id="titre" class="form-control" required autofocus><br><hr>
    <label for="Titre">Article</label>
        <input type=">Article" name=">Article" id=">Article" class="form-control" required autofocus>
    </div>
     <button class="btn">{{ button_label|default('Save') }}</button>
    <a href="{{ path('app_sujets_index') }}">back to list</a>
     {{ include('sujets/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('sujets/_delete_form.html.twig') }}
{% endblock %}
