{% extends 'base.html.twig' %}

{% block title %}Sujets{% endblock %}

{% block body %}
    <h1>Sujets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sujet.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sujets_index') }}">back to list</a><br>

    <a href="{{ path('app_sujets_edit', {'id': sujet.id}) }}">edit</a>

    {{ include('sujets/_delete_form.html.twig') }}
{% endblock %}
